.button {
    width: 200px;
    height: 1.5rem;

    margin-top: 1rem;

    background-color: #3161F5;
    color: white;
    border-width: 1px;
    border-radius: 1rem;
    cursor: pointer;
}

.button:hover {
    background-color: #2151E5;
}