.main-container {
    height: fit-content;
    min-height: 100%;

    background-color: var(--background-color);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 3rem;

    padding: 0 1rem;

    background-color: #2151E5;
}

.navbar .nav-side {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
}

.navbar .nav-side .link-container {
    padding-right: 1rem;
}

.navbar .nav-side .link-container a {
    color: white;

    text-decoration: none;
}

.navbar .nav-side .link-container a:hover {
    color: grey;
}

.navbar .nav-side .link-container:first-of-type {
    padding-right: 2rem;
}