.button {
    width: 200px;
    height: 1.5rem;

    margin-top: 1rem;

    color: white;

    border-width: 1px;
    border-radius: 1rem;
    cursor: pointer;
}

.button.type-primary {
    background-color: #3161F5;
}

.button.type-danger {
    background-color: #C71034;
}

.button.type-primary:hover {
    background-color: #2151E5;
}

.button.type-danger:hover {
    background-color: #A71034;
}